$base_color: rgb(32, 34, 45);
$background_color: rgb(255, 255, 255);

$button_color: rgb(106, 152, 26);
$highlight_color: rgb(35, 160, 197);
$gradient_start: rgb(98, 143, 40);
$gradient_end: rgb(50, 95, 211);

$text_color: rgb(170, 170, 178);
$primary_text-color: rgb(32, 34, 45);

$background_img: url("../img/m-h-day.jpg");

$gradient: ("start":$gradient_start, "end":$gradient_end);