$base_color: rgb(59,63,79);
$background_color: rgb(33,35,46);

$button_color: rgb(233, 173, 39);
$highlight_color: rgb(252, 79, 60);
$gradient_start: rgb(220, 162, 39);
$gradient_end: rgb(150, 55, 77);

$text_color: rgb(170,170,178);
$primary_text-color:rgb(255,255,255);

$background_img:url("../img/m-h-night.jpg");

$gradient: ("start":$gradient_start, "end":$gradient_end);